HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**
!**/src/test/**

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/



*.class
*.iml
*.ipr
*.iws
.idea
/build/
service/build/
/bin/
/gradlew
/gradlew.bat
/gradle/
/.classpath
/.project
/.settings
/out
/.shelf
/service/out
.gradle
.settings
bin/
.classpath
.project
client/build/
/client/out
model/build/
/model/out
.DS_Store

